<div class="bg-base-200 border-base-300 rounded-box w-2xl border px-8 py-5 shadow-lg">
  <h2 class="inline-block mb-5 text-xl md:text-xl font-bold text-slate-500 relative">
    Selecciona un post para editar
  </h2>

  <!-- Tarjeta de nuevo post -->
  <div class="card bg-base-100 shadow-sm cursor-pointer hover:shadow-md transition-all mb-4" (click)="selectNewPost()">
    <div class="card-body">
      <h3 class="font-bold text-lg text-gray-700">Nuevo post</h3>
      <p class="text-sm text-gray-500">Pulsa aquí para limpiar el formulario</p>
    </div>
  </div>

  @if (savedPosts.length > 0) {
    <div class="grid grid-cols-2 mt-2 overflow-y-auto overflow-x-hidden gap-3 max-h-152">
      @for (post of savedPosts; track $index) {
        <div (click)="selectPost(post)">
          <post-created
            [post]="post"
            (postDeleted)="onDeletePost($event)">
          </post-created>
        </div>
      }
    </div>
  }  @else {
    <p class="mt-4 text-sm text-gray-500">No hay posts guardados.</p>
  }
</div>
