<div class="mt-5 max-w-xl mx-auto bg-white border border-gray-300 rounded-lg shadow-sm">

  <!-- Header -->
  <div class="flex items-center p-3">
    <img class="w-10 h-10 rounded-full mr-3" src="{{ data.author.avatar }}" alt="Foto usuario">

    <div class="flex flex-col">
      <div class="flex items-center gap-1">
        <span class="font-semibold text-gray-900">
          {{ data.author.name }}
        </span>
        @if (data.author.verified) {
          <img class="w-fit h-4" alt="verificacion" src="https://static.xx.fbcdn.net/assets/?set=content_operations_help_center&amp;name=fb-verifiedbadge-desktop&amp;density=1">
        }
      </div>
      <span class="text-sm text-gray-500">
        {{ data.time_created }} · {{ data.visibility }}
      </span>
    </div>
  </div>

  <!-- Texto -->
  <div class="px-3 pb-3 text-gray-900">
    {{ data.text }}
  </div>

  <!-- Media -->
  @if (data.media?.type === 'image') {
    <img class="w-full max-h-150 object-cover" [src]="data.media?.file_base64" alt="Artículo">
  }

  @if (data.media?.type === 'video') {
  <video class="w-full max-h-150 object-cover" [src]="data.media?.file_base64" controls autoplay muted playsinline></video>
  }

  <div class="border-t border-gray-200 px-4 py-3">
    <div class="flex items-center justify-between text-sm text-gray-500">
      <div class="flex -space-x-1">
        <p class="w-fit mr-1">{{ data.likes }}</p>
        <div
          class="flex h-5 w-5 items-center justify-center rounded-full border border-white bg-blue-500 text-[10px] text-white">
          👍
        </div>
        <div
          class="flex h-5 w-5 items-center justify-center rounded-full border border-white bg-yellow-400 text-[10px]">
          😆
        </div>
        <div
          class="flex h-5 w-5 items-center justify-center rounded-full border border-white bg-yellow-300 text-[10px]">
          😮
        </div>
      </div>

      <div class="flex gap-2">
        <div class="flex gap-0.5">
          <i data-visualcompletion="css-img"
            style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/yJ/r/0xKVfIBu_MS.webp&quot;); background-position: 0px -1037px; background-size: auto; width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;"></i>
          <p>{{ data.numComments }}</p>
        </div>
        <div class="flex gap-0.5">
          <i data-visualcompletion="css-img"
            style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/yJ/r/0xKVfIBu_MS.webp&quot;); background-position: 0px -1054px; background-size: auto; width: 16px; height: 16px; background-repeat: no-repeat; display: inline-block;"></i>
          <p>{{ data.numShared }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="mt-3 grid grid-cols-3 border-y border-gray-200 py-1">
    <button type="button"
      class="rounded-lg px-3 py-2 flex justify-center gap-1.5 text-sm font-semibold text-gray-600 hover:bg-gray-100 hover:cursor-pointer">
      <i
        style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/yJ/r/0xKVfIBu_MS.webp&quot;); background-position: 0px -859px; background-size: auto; width: 18px; height: 18px; background-repeat: no-repeat; display: inline-block; "></i>Me
      gusta
    </button>
    <button type="button"
      class="rounded-lg px-3 py-2 flex justify-center gap-1.5 text-sm font-semibold text-gray-600 hover:bg-gray-100 hover:cursor-pointer">
      <i
        style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/yJ/r/0xKVfIBu_MS.webp&quot;); background-position: 0px -764px; background-size: auto; width: 18px; height: 18px; background-repeat: no-repeat; display: inline-block;"></i>Comentar
    </button>
    <button type="button"
      class="rounded-lg px-3 py-2 flex justify-center gap-1.5 text-sm font-semibold text-gray-600 hover:bg-gray-100 hover:cursor-pointer">
      <i
        style="background-image: url(&quot;https://static.xx.fbcdn.net/rsrc.php/yJ/r/0xKVfIBu_MS.webp&quot;); background-position: 0px -916px; background-size: auto; width: 18px; height: 18px; background-repeat: no-repeat; display: inline-block;"></i>Compartir
    </button>
  </div>

  <button type="button" class="mt-3 text-sm font-medium text-gray-500 pl-4 hover:text-gray-700 hover:underline">
    Ver más comentarios
  </button>

  <div class="mt-4 flex gap-2 px-4 pb-4">
    <img src="{{ data.comments[0]?.avatar }}" alt="Avatar" class="h-8 w-8 rounded-full object-cover">

    <div class="flex-1">
      <div class="inline-block max-w-full rounded-2xl bg-gray-100 px-3 py-2">
        <p class="text-sm font-semibold text-gray-900">
          {{ data.comments[0]?.author }}
        </p>
        <p class="text-sm text-gray-800">
          {{ data.comments[0]?.text }}
        </p>
      </div>
    </div>
  </div>
</div>
